<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title>Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body { font-family: "Arial", sans-serif; }
        td, th { padding: 3px; }
        th { text-align: left; border-top: 1px solid black; border-bottom: 1px solid black; }
        td.spacer { margin-top: 25px; display: block; }
    </style>
</head>
<body>
<p th:if="${#lists.isEmpty(batches)}">
  Inga filer har behandlats.
</p>

<th:block th:unless="${#lists.isEmpty(batches)}">
<table border="0" aria-label="Statusrapport">
    <th:block th:each="batch : ${batches}">
    <tr>
        <th colspan="2" th:text="${batch.basename}">[basename]</th>
    </tr>
    <tr>
        <td>Totalt antal fakturor:</td>
        <td th:text="${batch.totalItems}">[total items]</td>
    </tr>
    <tr>
        <td>Antal skickade som digital post:</td>
        <td th:text="${batch.sentItems}">[sent items]</td>
    </tr>
    <tr>
        <td>Antal skickade som fysisk post:</td>
        <td th:text="${batch.totalItems - batch.sentItems}">[unsent items]</td>
    </tr>
    <tr><td colspan="2" class="spacer"></td></tr>
</th:block>
</table>
</th:block>
</body>
</html>
